body {
    margin: 0;
    background-image: url(images/background1.jpg);
}

header {
    display: flex;
    position: sticky;
}

.navbar-brand {
    font-size: 50px !important;
    font-family: Garamond;
}

img {
    width: 500px;
    height: 80vh;
    border-radius: 50px;
}

.bg-danger {
    background-color: #fe955e !important;
}

.hero-img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0.5;
    padding-right: 5px;
}

.hero-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-container,
.hero-media {
    padding: 2rem;
}

span.small-caps {
    font-variant: small-caps;
}

.d-flex {
    gap: 20px;
}

.skills {
    align-items: center;
}

@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
        height: auto;
    }
}

.btn {
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}